<div class='copy_block'>
  <h1 id='about'>About us</h1>
  <p>Seedbomb.au is ecosystem-wide calendar for non-commercial community run events for change makers that care about justice and our planet.</p>
  <p>Seedbomb is maintained by local community members with the goal of encouraging more people to get along to important events.</p>
  <p>We want visitors to be able to confidently attend events. Where we become aware that a group or event engages in harassment, toxic behaviour or discriminatory practices, our community moderators retain discretion to not list and event de-list events, venues and groups.</p>
  
  <h3>Notice for larger organisations and commercial organistions</h3>
  <p>Listings as free for organisation that have up to two (2) FTE paid staff member.</p>
  <p>For larger organisations, access is available as part of a sponsorship package, this helps cover running and development costs.</p>
  <p>For commercial organisations offering free or community focussed events, please reach out for approval. Sponsorship options will depend on the nature of the event and the organisation.</p>
</div>