body {
  display: flex;
  justify-content: center;
}

body #outer {
  max-width: 1536px;
  width: 100%;
}

/* Nav section */
#global_header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 0.25rem;
  background-color: transparent;
  height: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 450px) {
  #global_header {
    flex-direction: column;
  }
}

#global_header a, #global_header .a-like {
  color: black;
}

#global_header #project_title {
  position: static;
  color: black;
  text-transform: lowercase;
}

#global_header #site_title {
  padding-top: 1rem;
}

#global_header #site_title p {
  margin-bottom: 0.5rem;
}

#global_header #site_nav {
  color: black;
}

#global_header #site_nav ul {
  display: inline;
  list-style-type: none;
  text-transform: lowercase;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#global_header #site_nav li {
  display: inline;
  white-space: nowrap;
}

#global_header #site_nav #hot_topics {
  text-transform: lowercase;
}

#global_header #site_nav .site-links li:not(:last-child) a::after {
  content: "|";
  margin-left: 0.25rem;
}

#global_header #site_nav .curation-links li:not(:last-child) a::after {
  content: ",";
}

#global_header #site_nav ul a.active {
  font-weight: bold;
}

#devise_header {
  position: static;
  display: inline;
}

#top_menu {
  display: flex;
  flex-direction: column;
  position: static;
  align-items: end;
}

#top_menu #search_form {
  position: static;
  margin-bottom: 0.25rem;
}

:first-child.first\:hidden {
  display: none;
}